<h1>Welcome to Blog-Digest.test!</h1>
<p>
  You have successfully signed up to BlogDigest.test,
  your username is: <%= @user.email %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'welcome', user_session_url %>
</p>
<p>Thanks for joining and have a great day!</p>
