<div >
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= current_user.name%></strong>
    </div>
    <div class="panel-body">
      <%= form_with(model: post_comment, local: true) do |form| %>
        <div class="field form-group">
          <%= form.text_area :content, :rows => 3, :class => 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit "Сохранить", :class => 'btn btn-success pull-right' %>
        </div>
      <% end # loop %>
    </div>
  </div>
</div>
